<mat-sidenav-container>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <mat-sidenav #sidenav mode="push">
    this is a sidebar , it works 
  </mat-sidenav>
  <div class="site">
    <header>
      <app-header (toggle)="sidenav.toggle()"></app-header>
    </header>
    <main>
      <!-- <button (click)="sidenav.open()"> 打开侧边栏111111 </button> -->
    </main>
      <!-- <div></div>
      <div></div>
      <div></div>
      <div class="box"></div>
      <div class="box"></div>
      <div></div> -->
      <footer>
        <app-footer> </app-footer>
      </footer>
  </div>
</mat-sidenav-container>
